@font-face {
    font-family: 'iconfont';
    src: url('../font_family/iconfont.eot');
    src: url('../font_family/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font_family/iconfont.woff2') format('woff2'),
    url('../font_family/iconfont.woff') format('woff'),
    url('../font_family/iconfont.ttf') format('truetype'),
    url('../font_family/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 8px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* 右箭头 */
.indicator {
    width: 5px;
    height: 10px;
    float: right;
    margin-right: 1.5rem;
}

.i-icon {
    float: left;
}

.iconfont {
    font-size: 16px;
    line-height: 25px;
    height: auto;
    background-color: transparent !important;
}

/*body{*/
/*    width: 100%;*/
/*}*/
/* 分割线 */
.hr-1 {
    width: 100%;
    margin: 0 auto;
}

.hr-2 {
    margin: 0;
}

.hr-3 {
    width: 150%;
    height: 15px;
    margin: 0 auto;
}

/* 收货地址 */
.adress {
    width: 90%;
    margin: 0 auto;
    color: #000;
    padding: 1rem 0;
    overflow: hidden;
}

.commodity {
    width: 100%;
    padding: 1.5rem 0;
    overflow: hidden;
    background-color: white;
    margin: 3px auto 0;
}

.glyphicon {
    font-size: 1rem;
}

.word {
    font-size: 1.5rem;
    padding-left: 1vw;
}

.word1 {
    font-size: 1.5rem;
    margin-left: 0rem;
}

.word-gery {
    color: gray;
    float: right;
}

.word-name, .amount {
    width: 100%;
    margin: 0 auto;
    background-color: white;

}

.word-name-top {
    padding-top: 1rem;
    font-size: 1.5rem;
}

.word-name-top > span:nth-of-type(2) {
    float: right;
}

.word-name-bottom {
    padding-bottom: 1rem;
}

.word-name-bottom > span:nth-of-type(1), .word-name-bottom > span:nth-of-type(2) {
    color: gray;
    font-size: 1.2rem;
}

.word-name-bottom > span:nth-of-type(3) {
    color: red;
    font-size: 1.2rem;
    float: right;
}

/* 商品金额 */
.amount {
    padding: 1rem 0;
    overflow: hidden;
}

.amount span:nth-of-type(2) {
    float: right;
}

.form-inline {
    /* width: 90%; */
    margin: -1.8rem;
    overflow: hidden;
    padding: 0.2rem 0;
    background-color: white;

}

.sr-only {
    position: relative;
    width: 9rem;
    height: auto;
    /*line-height: 3.5rem;*/
    /*float: left;*/
    font-size: 1.5rem;
    white-space: nowrap;
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-inline .form-control {
    font-size: 1rem;
    /*width: 77%;*/
    border: 0;
    outline: none;
    float: left;
    box-shadow: none;
}

.notic {
    width: 100%;
    height: -webkit-fill-available;
    height: fill-available;
    margin: 0 auto;
}

.notic input[type="checkbox"] {
    border-radius: 0.5rem;
}

/* 支付 */
button {
    outline: none;
}

.shopping-car {
    left: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    color: #fff;
    line-height: 50px;
    background-color: #fff;
}

.shopping-car > div {
    width: 100%;
    height: 100%;
}

.shopping-car, .pay-money, #btn-car3 {
    border: 0;
    z-index: 1000;
    position: fixed;
    bottom: 0;
    height: 50px;
    focus: none;
}

.pay-money {
    width: 40%;
    left: 20%;
    color: red;
    background-color: #FFFFFF;
}

#btn-car3 {
    width: 40%;
    left: 60%;
    background-color: #fd3a38;
}

.checkbox {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;

}

form {
    width: 100%;
}

form > div {
    width: 90%;
    margin: 0 auto;
}

form .hr-2 {
    width: 100%;
    margin-top: 1rem;
}


.vou {
    line-height: 4rem;
}

.vou > span:nth-of-type(1) > img {
    margin-right: 1rem;
}

.vou > span:nth-of-type(2) {
    float: right;
    color: gray;
}

.vou > span:nth-of-type(2) > img {
    padding-left: 0.5rem;
}

.vou > span:nth-of-type(2) > img:nth-of-type(2) {
    display: none;
}

.inp {
    display: none;
}

.inp input {
    width: 75%;
    border: 2px solid #999999;
    outline: none;
}

.inp button {
    width: 20%;
    background-color: red;
    border: none;
    height: 3rem;
    line-height: 3rem;
    color: white;
}

/* 模板引擎样式 */
.box {
    width: 100%;
    height: auto;
    padding: 0.7rem 0;
    margin-bottom: 0.5rem;
    display: flex;
    position: relative;
}

.b1 {
    font-size: 13px;
    margin-left: 0.6rem;
}

.b2 {
    font-size: 13px;
    position: absolute;
    right: 4rem;
    top: 1rem;
}

.b3 {
    position: absolute;
    right: 0.6rem;
    top: 1.2rem;
    width: 1.2rem;
    height: 1.2rem;
}

.b3 img {
    width: 100%;
    height: 100%;
}

.product-box {
    background-color: #e6e6e6;
    /* padding: .1rem 0  10px 0; */
}
.product-background{
    background-color: white;
    margin-bottom: 1px;
    /*padding-bottom: 5px;*/
}
.product-cell{
    margin-left: 30px;
    margin-right: 15px;
}
.agree{
    font-size: 10px;
    margin-left: 15px;
}
